doctype html
html
  head
    title Formulario para recoger datos del sensor
  body
    h1 Formulario para recoger datos del sensor
    form(action="/sensores", method="POST")
      label(for="name") Nombre:
      input(type="text", id="name", name="name")
      br

      label(for="type_connection") Tipo de conexión:
      select(id="type_connection", name="type_connection")
        option(value="I2C") I2C
        option(value="SPI") SPI
        option(value="UART") UART
      br

      label(for="direction") Dirección:
      input(type="text", id="direction", name="direction")
      br

      label(for="description") Descripción:
      textarea(id="description", name="description")
      br

      label(for="data_measure") Medida:
      textarea(id="data_measure", name="data_measure")
      br
      label(for="frequency_data") Frequency:
      input(type="text", id="frequency_data", name="frequency_data")
      br
      label(for="min_valueData") Min Value:
      input(type="text", id="min_valueData", name="min_valueData")
      br
      label(for="max_valueData") Max Value:
      input(type="text", id="max_valueData", name="max_valueData")
      br

      
      input(type="submit", value="Enviar")
