doctype html
html
  head
    title Formulario para recoger datos del sensor
  body
    h1 Formulario para recoger datos del sensor
    form(action="/devices", method="POST")
      label(for="name") Nombre:
      input(type="text", id="name", name="name")
      br

      label(for="type_device") Tipo de elemeneto: 
      input(type="text",id="type_device", name="type_device")
      br

      label(for="type_connection") Tipo de conexión:
      select(id="type_connection", name="type_connection")
        option(value="I2C") I2C
        option(value="SPI") SPI
        option(value="UART") UART
      br

      label(for="direction") Address :
      input(type="text", id="direction", name="direction")
      br

      label(for="description") Descripción:
      textarea(id="description", name="description")
      br

      label(for="data_measure") Medida:
      textarea(type="text", id="data_measure", name="data_measure")
      br

      label(for="max_frecuency") Max Frequency:
      input(type="text", id="max_frecuency", name="max_frecuency")
      br

      label(for="min_frecuency") Min Frequency:
      input(type="text", id="min_frecuency", name="min_frecuency")
      br

      label(for="frequency_data") Frequency:
      input(type="text", id="frequency_data", name="frequency_data")
      br
      
      label(for="min_valueData") Min Value:
      input(type="text", id="min_valueData", name="min_valueData")
      br
      label(for="max_valueData") Max Value:
      input(type="text", id="max_valueData", name="max_valueData")
      br
      label(for="units") Unidad:
      input(type="text", id="units", name="units")
      br
      label(for="manufacturer") Manufacturer:
      input(type="text", id="manufacturer", name="manufacturer")
      br
      
      label(for="deploymentDate") Deployment Date:
      input(type="text", id="deploymentDate", name="deploymentDate")
      br

      <label for="interrupt_pin">Interrupt Pin:</label>
      <select id="interrupt_pin" name="interrupt_pin">
        <option value="-1">-1</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select><br>
      

      
      input(type="submit", value="Enviar")
